<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Imaging" version="23.6.0" targetFramework="net462" />
  <package id="Crc32.NET" version="1.2.0" targetFramework="net462" />
  <package id="ini-parser" version="2.5.2" targetFramework="net462" />
  <package id="MegaApiClient" version="1.10.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="Squid-Box.SevenZipSharp" version="1.5.0.366" targetFramework="net462" />
  <package id="ZetaLongPaths" version="1.0.17" targetFramework="net462" />
</packages>